# Created by https://www.gitignore.io/api/intellij,eclipse,netbeans,java,maven,gradle
### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
build\classes\.netbeans_automatic_build